<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">

<body style="padding: 0 !important;">

<nav th:replace="~{fragments/nevbar}"></nav>

<div class="container">

    <div class="header">
        <br>
        <div style="display: flex; justify-content: space-between;">
            <a href="/better-me">
                <h3 class="text-muted">Better me</h3>
            </a>
            <a href="/better-me/today">
                <h3 class="text-muted">today</h3>
            </a>
        </div>
    </div>

    <form role="form" action="/sleeps/new" th:object="${sleepsSaveRequestDto}" method="post">
        <input type="hidden" id="betterMeId" name="betterMeId" th:value="${betterMeId}">

        <div>
            <h4 class="text-muted">목표 수면 시간 설정</h4>
            <br>
        </div>

        <div th:replace="~{fragments/form_errors :: formErrorsFragment}"></div>

        <div class="form-group">
            <label th:for="sleepTime">취침 날짜</label>
            <input type="text" th:field="*{sleepDate}" class="form-control" placeholder="취침 날짜를 입력해주세요. 예시) 2024-01-01"
                   th:class="${#fields.hasErrors('sleepDate')}? 'form-control fieldError' : 'form-control'" required>
        </div>
        <div class="form-group">
            <label th:for="sleepTime">취침 시간</label>
            <input type="text" th:field="*{sleepTime}" class="form-control" placeholder="취침 시간을 입력해주세요. 예시) 22:00"
                   th:class="${#fields.hasErrors('sleepTime')}? 'form-control fieldError' : 'form-control'" required>
        </div>
        <br>
        <div class="form-group">
            <label th:for="wakeUpDate">기상 날짜</label>
            <input type="text" th:field="*{wakeUpDate}" class="form-control" placeholder="기상 날짜를 입력해주세요. 예시) 2024-01-01"
                   th:class="${#fields.hasErrors('wakeUpDate')}? 'form-control fieldError' : 'form-control'" required>
        </div>
        <div class="form-group">
            <label th:for="wakeUpTime">기상 시간</label>
            <input type="text" th:field="*{wakeUpTime}" class="form-control" placeholder="기상 시간을 입력해주세요. 예시) 07:00"
                   th:class="${#fields.hasErrors('wakeUpTime')}? 'form-control fieldError' : 'form-control'" required>
        </div>
        <br>
        <div style="display: flex; justify-content: flex-end;">
            <button type="submit" class="btn btn-primary">설정</button>
        </div>
    </form>

    <br/>

    <div th:replace="~{fragments/footer :: footer}"></div>
</div> <!-- /container -->

</body>
</html>
