<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
<body>

<div class="container">
    <div class="header">
        <br>
        <a href="/"><h3 class="text-muted">Better me</h3></a>
    </div>

    <form role="form" action="/users/login" method="post">
        <div>
            <h4 class="text-muted">로그인</h4>
            <br/>
        </div>
        <div th:if="${param.error}">
            <div class="alert alert-danger">
                사용자ID 또는 비밀번호를 확인해 주세요.
            </div>
        </div>

        <div class="mb-3">
            <label for="username" class="form-label">사용자ID</label>
            <input type="text" name="username" id="username" class="form-control">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">비밀번호</label>
            <input type="password" name="password" id="password" class="form-control">
        </div>

        <div style="display: flex; justify-content: flex-end;">
            <button type="submit" class="btn btn-primary">로그인</button>
        </div>
    </form>
    <br/>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div> <!-- /container -->

</body>
</html>