<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body style="padding: 0 !important;">
<!-- 네비게이션 바 -->
<nav th:replace="~{fragments/nevbar}"></nav>

<div class="container">
    <div class="header">
        <br>
        <a href="/"><h3 class="text-muted">Better me</h3></a>
    </div>

    <div class="jumbotron" style="background-color: lavenderblush !important;">
        <h4 class="text-black-50">✨ <span th:text="${usersResponseDto.getSlogan()}"></span> ✨</h4>
        <br>
        <h3 style="color: #ed969e"><span th:text="${usersResponseDto.getNickname()}"></span>님 환영합니다</h3>
        <br>
        <div style="text-align: center">
            <h5 class="text-black-50">ID : <span th:text="${usersResponseDto.getUsersName()}"></span></h5>
            <h5 class="text-black-50">Nickname : <span th:text="${usersResponseDto.getNickname()}"></span></h5>
            <h5 class="text-black-50">Email : <span th:text="${usersResponseDto.getEmail()}"></span></h5>
            <h5 class="text-black-50">Slogan : <span th:text="${usersResponseDto.getSlogan()}"></span></h5>
            <br>
            <br>
            <h6 class="text-black-50">회원가입 일자 : <span th:text="${usersResponseDto.getCreatedDate()}"></span></h6>
        </div>
        <br>
        <br>
        <div style="text-align: right">
            <a class="btn btn-lg text-black-50" style="background-color: #f8d7da"
               href="#" th:href="@{/users/{usersId} (usersId=${usersResponseDto.getUsersId()})}"> &nbsp 수정 &nbsp </a>
        </div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>
</div> <!-- /container -->

</body>
</html>