<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/header :: header}">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body style="padding: 0 !important;">
<!-- 네비게이션 바 -->
<nav th:replace="~{fragments/nevbar}"></nav>

<div class="container">
    <div class="header">
        <br>
        <a href="/"><h3 class="text-muted">Better me</h3></a>
    </div>

    <div class="jumbotron" style="background-color: lavenderblush !important;">
        <h1 style="color: #ed969e">Better me</h1>
        <br>
        <div>
            <h6 class="text-black-50">
                습관 관리 웹 서비스 Better me
            </h6>
            <h6 class="text-black-50">
                매일 행할 수 있는 작은 습관들을 가꾸어 나가면서 더 나은 나를 만들어 보세요 !
            </h6>
        </div>
        <br>
        <div sec:authorize="isAuthenticated()">
            <a class="btn btn-lg text-white" style="background-color: #ed969e" href="/better-me">습관 노트 관리</a>
        </div>
        <div sec:authorize="isAnonymous()">
            <a class="btn btn-lg text-black-50" style="background-color: #f8d7da" href="/users/login">로그인</a>
            <a class="btn btn-lg text-black-50" style="background-color: #f5c6cb" href="/users/new">회원 가입</a>
        </div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>
</div> <!-- /container -->

</body>
</html>